body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #8080bf;
  color: #f3f3f3;
}

header {
  text-align: center;
}

h1 {
  padding-top: 2rem;
}

form {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4rem;
  border: #f3f3f3 solid 5px;
  border-radius: 5px;
  padding: 3rem;
  font-size: 1.2em;
}

input {
  width: 97%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: inherit;
  border: none;
}

button {
  width: 100%;
  padding: 0.5rem;
  color: #f3f3f3;
  background-color: #1b1b3f;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  float: right;
  font-size: 0.8rem;
}

a {
  margin-left: 10px;
}
