html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(128, 128, 191);
  color: rgb(243, 243, 243);
}

header {
  text-align: center;
}

h1 {
  padding-top: 2rem;
}

form {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4rem;
  border: rgb(243, 243, 243) solid 5px;
  border-radius: 5px;
  padding: 3rem;
  font-size: 1.2em;
}

input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: inherit;
  border: none;
}

button {
  width: 100%;
  padding: 0.5rem;
  color: rgb(243, 243, 243);
  background-color: rgb(27, 27, 63);
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(27, 27, 63, 0.7);
  transition-property: background-color;
  transition-duration: 0.5s;
}

p {
  float: right;
  font-size: 0.8rem;
}

a {
  margin-left: 10px;
  color: rgb(213, 189, 175);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: rgb(241, 250, 238, 0.7);
}
