<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/dashboard.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <h1>Flagged Contents</h1>
      <a href="login.html">Logout</a>
    </header>
    <table>
      <tr>
        <th>User</th>
        <th>Text content</th>
        <th>Abuse type</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>I will kill you</td>
        <td>Threat</td>
        <td></td>
      </tr>
      <tr>
        <td>Jane Doe</td>
        <td>Can we have sex</td>
        <td>Sexual</td>
        <td></td>
      </tr>
      <tr>
        <td>John Smith</td>
        <td>You are the most stupid person I know</td>
        <td>Insult</td>
        <td></td>
      </tr>
      <tr>
        <td>Michael Sam</td>
        <td>
          <p>Marijuana leaf on a hat</p>
          <p>The word "marijuana" in the title and product description</p>
          <p>Neither drug use nor the drug itself can be part of the content</p>
        </td>
        <td>Drug abuse</td>
        <td></td>
      </tr>
    </table>

    <script src="" async defer></script>
  </body>
</html>
