<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Homepage</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/style.css" />
    <script
      async
      defer
      src="https://kit.fontawesome.com/8ebc0369ab.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <section id="logo"><h1>safe space</h1></section>
      <section id="nav">
        <a href="">Intro</a>
        <a href="">Features</a>
        <a href="">About</a>
      </section>
    </header>
    <section id="hero">
      <section id="hero-text-img">
        <img
          id="hero-img"
          src="assets/hero-image-1.jpg"
          alt="hero image depicting safety"
        />
        <section id="hero-text">
          <h1>safe space</h1>
          <h3>Creating a safe online community for all</h3>
          <section id="hero-butt-sec"><button>Go to project</button></section>
        </section>
      </section>
    </section>
    <section class="features-section">
      <h2>Project Features</h2>
      <section id="all-features">
        <section class="feature">
          <img src="assets/hero-image-sq_.jpg" alt="pre-moderation feature" />
          <h3>Pre-moderation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            et dolor hic ipsum necessitatibus? Maxime enim nostrum magnam
            architecto quis eius vel vitae debitis quas vero, illo esse omnis
            sed.
          </p>
        </section>
        <section class="feature">
          <img src="assets/hero-image-sq_.jpg" alt="post-moderation feature" />
          <h3>Post-moderation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
            explicabo cumque voluptas maiores delectus debitis natus, id
            perferendis aut voluptatum quasi rem repudiandae rerum nam similique
            quae asperiores error ipsum!
          </p>
        </section>
        <section class="feature">
          <img src="assets/hero-image-sq_.jpg" alt="another feature" />
          <h3>Another feature</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            laboriosam praesentium neque tempore, reprehenderit ipsa facere at
            sunt non doloribus a. Veniam vero veritatis officia tempora neque
            sapiente blanditiis temporibus?
          </p>
        </section>
      </section>
    </section>
    <section class="about">
      <h2>About Safe Space</h2>
      <p id="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse est
        necessitatibus incidunt sequi modi debitis totam eius quia maxime
        voluptatem, labore magnam expedita illum at deserunt animi, et quisquam
        ipsam.
      </p>
    </section>
    <section id="work-with-us">
      <h2>Work with us</h2>
      <section id="all-about">
        <section class="about-us">
          <h3>Nzube Ifechukwu</h3>
          <section class="links">
            <a href="">Send a mail</a>
            <a href="">Github</a>
            <a href="">LinkedIn</a>
          </section>
        </section>
        <section class="about-us">
          <h3>Nzube Ifechukwu</h3>
          <section class="links">
            <a href="">Send a mail</a>
            <a href="">Github</a>
            <a href="">LinkedIn</a>
          </section>
        </section>
        <section class="about-us">
          <h3>Nzube Ifechukwu</h3>
          <section class="links">
            <a href="">Send a mail</a>
            <a href="">Github</a>
            <a href="">LinkedIn</a>
          </section>
        </section>
      </section>
    </section>

    <script src="" async defer></script>
  </body>
</html>
